.progress-container{
    color: $highlight;
    font-size: $fz-sm;
    align-self: center;
    width: 100%;
    max-width: 80%;

    p{
        margin: 0 0 0.5rem 0;
    }
    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.progress-bar{
    height: 5px;
    width: 100%;
    background-color: $secondary;
    margin-bottom: 1rem;
    position: relative;


    &-percentage{
        background-color: $highlight;
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
    }
}

.experience-container{
    margin-top: 1rem;
    align-self: center;
    width: 100%;
    max-width: 80%;
    @include border(-2px, 2px, 5px, 0px, rgb(33 25 25 / 65%));
    background-color: $tertiary;
    @include scale-animation(1.01);

    @media only screen and (max-width: 768px) {
        max-width: 100%;
    }

    div{
        padding: 1rem;
    }

    .text-body{
        margin: 0;
        margin-top: 0.5rem;
        font-size: $fz-xxs;
        width: 100%;
    }
}

.about-contact{
    a{
        color: $highlight;
        padding: 0 0.2rem;
    }
}