.two-column{
    display: flex;
    width: 90%;
    margin: 0 5%;
    height: 100%;

    &-left{
        @include flex-center;
        width: 60%;
        flex-direction: column;
        @media only screen and (max-width: $mobile-point) {
            width: 90%;
            margin: 1rem 0;
        }
    }

    &-right{
        width: 40%;
        flex-direction: column;
        @include flex-center;
        @media only screen and (max-width: $mobile-point) {
            width: 90%;
        }
    }

    @media only screen and (max-width: $mobile-point) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
