.sidebar{
    &-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgcolor;
        z-index: 99;    
        @include flex-center;
        backdrop-filter: blur(1rem);
        opacity: 0.9;

        @media only screen and (min-width: $mobile-point) {
            display: none;
        } 
    }
    &-menus{
        @include flex-center;
        flex-direction: column;

        a{
            color: $primary;
            margin-bottom: 1.2rem;
        }
    }
    &-icon{
        @include responsive-icon-style;
        &-linkedin{
            left: 4rem;
        }
        &-github{
            left: 6rem;
        }

    }  
}

